/nbproject/private/
/Taller-ejb/nbproject/private/
/Taller-war/nbproject/private/
/Taller-ejb/build/
/Taller-ejb/dist/
/build/
/Taller-war/build/
/Dominio-ejb/build/
/Dominio-ejb/dist/
/Dominio-ejb/nbproject/private/
/Servicios/build/
/Servicios/nbproject/private/